:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --task-bar-white: rgba(255, 255, 255, 0.63);
}

.default-outer-container {
  /* position: absolute; */
  border-top: 1px solid rgba(222,222,222,1.0);
  border-left: 1px solid rgba(222,222,222,1.0);
  border-right: 1px solid rgba(0, 0, 0, 0.897);
  border-bottom: 1px solid rgba(0, 0, 0, 0.897);
  background-color: rgba(194,197,202,1.0);
}

.default-inner-container {
  border-top: 1px var(--task-bar-white) solid;
  border-left: 1px var(--task-bar-white) solid;
  border-bottom: 1px rgba(123,123,123,255) solid;
  border-right: 1px rgba(123,123,123,255) solid;
}

.clicked-outer-container {
  border-top: 2px solid rgba(0, 0, 0, 0.897);
  border-left: 2px solid rgba(0, 0, 0, 0.897);
  border-right: 1px solid rgba(222,222,222,1.0);
  border-bottom: 1px solid rgba(222,222,222,1.0);
  background-color: rgba(194,197,202,1.0);
}

.clicked-inner-container {
  border-top: 1px rgba(123,123,123,255) solid;
  border-left: 1px rgba(123,123,123,255) solid;
  /* border-bottom: 1px rgba(123,123,123,255) solid;
  border-right: 1px rgba(123,123,123,255) solid; */
}

body, html {
  font-family: 'MS-Sans-Serif';
  color: black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

@font-face {
  font-family: 'Jersey';
  src: local('Jersey'), url(./assets/fonts/Jersey10-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MS-Sans-Serif';
  src: local('MS-Sans-Serif'), url(./assets/fonts/ms-sans-serif-1.ttf) format('truetype');
}

@font-face {
  font-family: 'MS-Sans-Serif-Bold';
  src: local('MS-Sans-Serif-Bold'), url(./assets/fonts/ms-sans-serif-b.ttf) format('truetype');
}

::-webkit-scrollbar {
  display: none;
}

